*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./Assest/bgimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: right;
}
